{{define "title"}}
<h1 class="my-4 text-center">Laila Machine Works</h1>
{{end}}

{{ define "contact"}}
<footer class="my-4 text-center">
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="contact-details">
                <h3>Contact Us</h3>
                <p>Name: Ramana Nakkaraju, CEO</p>
                <p>Email: ramannakkarajuex200@gmail.com</p>
                <p>Phone: +91 9951972465</p>
                <p>Address: 10-10-1, AutoNagar, Gajuwaka, Vizag</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="footer-photo">
                <img src="/web/static/images/ramana.png" class="img-fluid w-25" alt="Contact Photo">
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="contact-details">
                <p>Name: Eesu, Director</p>
                <p>Email: ramannakkarajuex200@gmail.com</p>
                <p>Phone: +91 9951972465</p>
                <p>Address: 10-10-1, AutoNagar, Gajuwaka, Vizag</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="footer-photo">
                <img src="/web/static/images/ramana.png" class="img-fluid w-25" alt="Contact Photo">
            </div>
        </div>
    </div>
</div>
</footer>
<footer class="my-4 text-center">Powered by <a href='https://golang.org/'>Go</a></footer>
{{end}}

{{define "footer"}}
<footer class="my-4 text-center">Powered by <a href='https://golang.org/'>Go</a></footer>

{{end}}